.contact-info {

  &__title {
    font-family: "Alverata";
    font-weight: 800, 900;
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    color: #1C2139;
    margin-bottom: 16px;
  }
}